body
{
  background-color: aliceblue;
}
.wallet
{
  color:wheat ;
  background-color: rgb(28, 172, 28);
  border: none;
  padding: 1rem;
  
}
.total{
  background-color: rgb(7, 7, 7);
}
.con
{
  box-shadow: 10px 10px;
  display: flex;
  justify-content: center;
}


.con1
{
 width: 200px;
 height: 300px;
  background-color: rgb(255, 255, 255);
  border:none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}

